body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: black;
  border: 1px solid #000;
}

footer {
  color: white;
  text-align: center;
  width: 100%;
}
